# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

#pycache
ml/googleVision/__pycache__
post_processing/__pycache__

#model configuration
ml/path_to_save_model (too big)

#datasets that are too large
ml/very large datasets (too big)

#vangarde03 .env file
*.env



#ml testing files
oldfiles (ignore)
archive (unused)/


# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts


.env
